[Match]
Name=ens19

[Network]
DHCP=ipv6
DHCPPrefixDelegation=yes
Tunnel=v6ptnl0

[DHCPv6]
WithoutRA=solicit
#DUIDType=link-layer-time
DUIDType=link-layer

[DHCPPrefixDelegation]
UplinkInterface=:self
SubnetId=0
Announce=no
Token=<ISPから通知されたToken>
