[Match]
Name=br1.134

[Network]
Address=10.17.34.1/24
DHCPPrefixDelegation=yes
IPv6SendRA=yes
IPv6AcceptRA=no
DHCP=no
DHCPServer=yes

[DHCPPrefixDelegation]
UplinkInterface=ens19
SubnetId=0x22
Announce=yes

[DHCPServer]
PoolOffset=101
PoolSize=64
EmitDNS=yes
DNS=10.17.72.53
DNS=10.17.72.54
